@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Raleway", sans-serif;
}
header {
  background-image: url(assets/hero-bg.png);
}
.header {
  display: flex;
  width: 70%;
  margin: 0 auto;
  padding: 50px 0;
  justify-content: space-between;
}
.logo {
  font-family: "Inter", sans-serif;
  font-size: 34px;
  font-weight: bold;
  color: #4e47ff;
}
button {
  padding: 12px 36px;
  color: white;
  background-color: #4e47ff;
  border: 1px solid #4e47ff;
  border-radius: 10px;
  font-weight: bold;
  transition: 0.5s;
  cursor: pointer;
}
button:hover {
  background-color: white;
  color: #4e47ff;
}
.banner {
  width: 70%;
  margin: 0 auto;
  padding: 155px 0;
  text-align: center;
}
.banner h1 {
  font-size: 65px;
  font-weight: bold;
  margin-bottom: 37px;
}
main {
  width: 70%;
  margin: 0 auto;
}
.action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 116px 0;
}
.action-content h1 {
  font-size: 42px;
  font-weight: bold;
}
.action-content p {
  font-size: 24px;
  color: #25243250;
  margin: 23px 0;
}
.action-image img {
  border-radius: 48px;
}
.productive {
  background-color: #4e47ff10;
  border-radius: 24px;
  padding: 50px 80px;
  text-align: center;
}
.productive h1 {
  font-size: 38px;
  font-weight: bold;
  margin-bottom: 40px;
}
.pro-summary {
  display: flex;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
}
.part p {
  font-size: 80px;
  font-weight: bold;
  color: #4e47ff;
}
.part span {
  font-size: 20px;
  color: #00000050;
}
